.wrapper{
background:rgba(0,0,0,0.8);
height:100%;
width:100%; 
color:white;
padding:45px;
}
.title{
    font-family: 'Acme', sans-serif;
    font-size:32px;
    padding:10px 0 0 50px;
    background: rgba(0,0,0,0.8);
    color:white;
}

.teamlist{
    position:fixed;
    width:100%;
    background:red;
    color:white;
    font-size:17px;
}
.mytransparent{
    opacity:0.7;
}
.eventname{
    padding-left:10%;
}
.teamname{
    padding-left:25%;
}
.university{
    padding-left:25%;
}